/* Primefaces */
.ui-icon {
	text-indent: 0px !important;
}

.ui-datatable,
.ui-datatable .ui-datatable-tablewrapper table {
	font-size: 12px !important;
}

/* For Paginator */
.ui-datatable .ui-paginator .ui-paginator-first,
.ui-datatable .ui-paginator .ui-paginator-prev,
.ui-datatable .ui-paginator .ui-paginator-pages .ui-paginator-page,
.ui-datatable .ui-paginator .ui-paginator-next,
.ui-datatable .ui-paginator .ui-paginator-last,
.ui-datatable .ui-paginator .ui-paginator-rpp-options {
	font-size: 10px !important;
}

.ui-datatable .ui-paginator .ui-paginator-current {
	font-size: 10px !important;
}

/* Max Gontijo de Oliveira */

.home-title {
	font-size: 60px;
	text-align: center;
	color: #777777;
}

.item-lista-linha {
	color: #ffffff;
	background-color: #4444ff;
	border: 1px solid #2222aa;
	border-radius: 25px;
	padding: 2px 5px 2px 5px;
	margin-right: 5px;
	float: left;
}

.item-lista-linha-qtde {
	color: #ffffff;
	background-color: #22aa22;
	border: 1px solid #007700;
	border-radius: 25px;
	padding: 2px 5px 2px 5px;
	margin-right: 5px;
	float: left;
}

